<html layout:decorate="~{frontend/layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container-fluid">
            <div class="row my-3">
                <div class="col-md-6"><h1 class="h3 mb-2 text-gray-800 mb-4">Edit User</h1></div>
                <div class="col-md-6 text-right"><a href="/users" class="btn btn-info"><i class="fas fa-chevron-left"></i> Back</a></div>
            </div>
            <form action="#" th:action="@{/saveedituser}" method="post" th:object="${user}">

                <input type="hidden" th:value="${id}" th:field="*{id}">

                <div class="form-group row">
                    <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
                    <div class="col-sm-10">
                        <input type="text" name="firstName" id="firstName" class="form-control" th:field="*{firstName}">
                        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:class="error"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="lastName" class="col-sm-2 col-form-label">Lastname</label>
                    <div class="col-sm-10">
                        <input type="text" name="lastName" id="lastName" class="form-control" th:field="*{lastName}">
                        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:class="error"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="emailName" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" name="emailName" id="emailName" class="form-control" th:field="*{emailName}">
                        <span th:if="${#fields.hasErrors('emailName')}" th:errors="*{emailName}" th:class="error"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-10">
                        <input type="submit" value="Submit" class="btn btn-primary">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>